In [1]:
import pandas as pd

In [11]:
df = pd.read_csv(r'C:\Users\Osama\Desktop\aaa.csv')
df

                                                review sentiment
0    One of the other reviewers has mentioned that ...  positive
1    A wonderful little production. <br /><br />The...  positive
2    I thought this was a wonderful way to spend ti...  positive
3    Basically there's a family where a little boy ...  negative
4    Petter Mattei's "Love in the Time of Money" is...  positive
..                                                 ...       ...
994  On watching this film, I was amazed at how med...  positive
995  Nothing is sacred. Just ask Ernie Fosselius. T...  positive
996  I hated it. I hate self-aware pretentious inan...  negative
997  I usually try to be professional and construct...  negative
998  If you like me is going to see this in a film ...  negative

[999 rows x 2 columns]

In [12]:
df.groupby('sentiment').describe()

          review                                                            \
           count unique                                                top
sentiment
negative     498    498  Besides being boring, the scenes were oppressi...
positive     501    501  Previous reviewer Claudio Carvalho gave a much...


          freq
sentiment
negative     1
positive     1

In [13]:
df['positive']=df['sentiment'].apply(lambda x: 1 if x=='positive' else 0)
df.head()

                                              review sentiment  positive
0  One of the other reviewers has mentioned that ...  positive         1
1  A wonderful little production. <br /><br />The...  positive         1
2  I thought this was a wonderful way to spend ti...  positive         1
3  Basically there's a family where a little boy ...  negative         0
4  Petter Mattei's "Love in the Time of Money" is...  positive         1

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.review,df.positive,test_size=.15)
X_train.shape
X_test.shape

(150,)

In [27]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count

<849x16396 sparse matrix of type '<class 'numpy.int64'>'
	with 115512 stored elements in Compressed Sparse Row format>

In [28]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [29]:
emails = [
    'Hey moan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([1, 1], dtype=int64)

In [30]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.8















































































**Sklearn Pipeline**

In [31]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [32]:
clf.fit(X_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [33]:
clf.score(X_test,y_test)

0.8

In [34]:
clf.predict(emails)

array([1, 1], dtype=int64)